{{- $global := . -}}
{{- if .Values.apisix.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "apisix.fullname" . }}-gateway
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- range $key, $value := .Values.gateway.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
  labels:
    {{- include "apisix.labels" . | nindent 4 }}
    app.kubernetes.io/service: apisix-gateway
spec:
  type: {{ .Values.gateway.type }}
  {{- if or (eq .Values.gateway.type "NodePort") (eq .Values.gateway.type "LoadBalancer") }}
  externalTrafficPolicy: {{ .Values.gateway.externalTrafficPolicy }}
  {{- end }}
  {{- if eq .Values.gateway.type "LoadBalancer" }}
  {{- if .Values.gateway.loadBalancerClass }}
  loadBalancerClass: {{ .Values.gateway.loadBalancerClass }}
  {{- end }}
  {{- if .Values.gateway.loadBalancerIP }}
  loadBalancerIP: {{ .Values.gateway.loadBalancerIP }}
  {{- end }}
  {{- if .Values.gateway.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
  {{- range $cidr := .Values.gateway.loadBalancerSourceRanges }}
  - {{ $cidr }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if gt (len .Values.gateway.externalIPs) 0 }}
  externalIPs:
  {{- range $ip := .Values.gateway.externalIPs }}
  - {{ $ip }}
  {{- end }}
  {{- end }}
  ports:
  {{- if .Values.gateway.http.enabled }}
  - name: apisix-gateway
    port: {{ .Values.gateway.http.servicePort }}
    targetPort: {{ .Values.gateway.http.containerPort }}
    {{- if (and (eq .Values.gateway.type "NodePort") (not (empty .Values.gateway.http.nodePort))) }}
    nodePort: {{ .Values.gateway.http.nodePort }}
    {{- end }}
    protocol: TCP
  {{- end }}
  {{- range .Values.gateway.http.additionalContainerPorts }}
  - name: apisix-gateway-{{ .port | toString }}
    port: {{ .port }}
    targetPort: {{ .port }}
    {{- if (and (eq .Values.gateway.type "NodePort") (not (empty .nodePort))) }}
    nodePort: {{ .nodePort }}
    {{- end }}
    protocol: TCP
  {{- end }}
  {{- if or .Values.gateway.tls.enabled }}
  - name: apisix-gateway-tls
    port: {{ .Values.gateway.tls.servicePort }}
    targetPort: {{ .Values.gateway.tls.containerPort }}
    {{- if (and (eq .Values.gateway.type "NodePort") (not (empty .Values.gateway.tls.nodePort))) }}
    nodePort: {{ .Values.gateway.tls.nodePort }}
    {{- end }}
    protocol: TCP
  {{- end }}
  {{- range .Values.gateway.tls.additionalContainerPorts }}
  - name: apisix-gateway-tls-{{ .port | toString }}
    port: {{ .port }}
    targetPort: {{ .port }}
    {{- if (and (eq .Values.gateway.type "NodePort") (not (empty .nodePort))) }}
    nodePort: {{ .nodePort }}
    {{- end }}
  {{- end }}
  {{- if .Values.serviceMonitor.enabled }}
  - name: prometheus
    port: {{ .Values.serviceMonitor.containerPort }}
    targetPort: {{ .Values.serviceMonitor.containerPort }}
    protocol: TCP
  {{- end }}
  {{- if .Values.api7ee.status_endpoint.enabled }}
  - name: status
    port: {{ .Values.api7ee.status_endpoint.port }}
    targetPort: status
    protocol: TCP
  {{- end }}
  {{- if and .Values.gateway.stream.enabled (or (gt (len .Values.gateway.stream.tcp) 0) (gt (len .Values.gateway.stream.udp) 0)) }}
  {{- with .Values.gateway.stream }}
  {{- if (gt (len .tcp) 0) }}
  {{- range $index, $port := .tcp }}
  - name: proxy-tcp-{{ $index | toString }}
    protocol: TCP
  {{- if kindIs "map" $port }}
    port: {{ splitList ":" ($port.addr | toString) | last }}
    targetPort: {{ splitList ":" ($port.addr | toString) | last }}
    {{- if (and (eq $global.Values.gateway.type "NodePort") (not (empty $port.nodePort))) }}
    nodePort: {{ $port.nodePort }}
    {{- end }}
  {{- else }}
    port: {{ $port }}
    targetPort: {{ $port }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if (gt (len .udp) 0) }}
  {{- range $index, $port := .udp }}
  - name: proxy-udp-{{ $index | toString }}
    protocol: UDP
  {{- if kindIs "map" $port }}
    port: {{ splitList ":" ($port.addr | toString) | last }}
    targetPort: {{ splitList ":" ($port.addr | toString) | last }}
    {{- if (and (eq $global.Values.gateway.type "NodePort") (not (empty $port.nodePort))) }}
    nodePort: {{ $port.nodePort }}
    {{- end }}
  {{- else }}
    port: {{ $port }}
    targetPort: {{ $port }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  selector:
    {{- include "apisix.selectorLabels" . | nindent 4 }}
{{- end }}
