apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-ingress-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
    log_level: {{ .Values.config.logLevel | default "info" }}
    controller_name: {{ .Values.config.controllerName | default "apisix.apache.org/apisix-ingress-controller" }}
    leader_election_id: {{ .Values.config.leaderElection.id | default "apisix-ingress-controller-leader" }}
    leader_election:
      lease_duration: {{ .Values.config.leaderElection.leaseDuration | default "15s" }}
      renew_deadline: {{ .Values.config.leaderElection.renewDeadline | default "10s" }}
      retry_period: {{ .Values.config.leaderElection.retryPeriod | default "2s" }}
      disable: {{ .Values.config.leaderElection.disable | default false }}
    metrics_addr: {{ .Values.config.metricsAddr | default ":8080" }}
    enable_server: {{ .Values.config.enableServer | default false }}
    server_addr: {{ .Values.config.serverAddr | default "127.0.0.1:9092" }}
    enable_http2: {{ .Values.config.enableHTTP2 | default false }}
    probe_addr: {{ .Values.config.probeAddr | default ":8081" }}
    secure_metrics: {{ .Values.config.secureMetrics | default false }}
    exec_adc_timeout: {{ .Values.config.execADCTimeout | default "15s" }}
    disable_gateway_api: {{ .Values.config.disableGatewayApi | default false }}
    provider:
      type: {{ .Values.config.provider.type | default "api7ee" }}
      sync_period: {{ .Values.config.provider.syncPeriod | default "0s" }}
      init_sync_delay: {{ .Values.config.provider.initSyncDelay | default "20m" }}
    {{- if .Values.webhook.enabled }}
    webhook:
      enable: true
      port: {{ .Values.webhook.port }}
      tls_cert_file: "tls.crt"
      tls_key_file: "tls.key"
      tls_cert_dir: "/certs"
    {{- end }}
