{{- if .Values.developer_portal_configuration.enable }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "api7ee3.fullname" . }}-developer-portal
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "api7ee3.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.developer_portal.replicaCount }}
  selector:
    matchLabels:
      {{- include "api7ee3.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: developer-portal
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/developer-portal-configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "api7ee3.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: developer-portal
        {{- if .Values.developer_portal.podLabels }}
        {{- range $key, $value := $.Values.developer_portal.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
    spec:
      {{- if .Values.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecret }}
      {{- end }}
      serviceAccountName: {{ include "api7ee3.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "api7ee3.fullname" . }}-developer-portal-config
      {{- if .Values.developer_portal.extraVolumes }}
      {{- include "api7ee3.tplvalues.render" (dict "value" .Values.developer_portal.extraVolumes "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.developer_portal.keyCertSecret }}
        - name: ssl
          secret:
            secretName: {{ .Values.developer_portal.keyCertSecret | quote }}
      {{- end }}
      containers:
        - name: developer-portal
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.developer_portal.image.repository }}:{{ .Values.developer_portal.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.developer_portal.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.developer_portal_configuration.server.listen.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
              scheme: {{ if not .Values.developer_portal_configuration.server.listen.tls.enabled }}HTTP{{ else }}HTTPS{{ end }}
            initialDelaySeconds: {{ .Values.developer_portal.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.developer_portal.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.developer_portal.livenessProbe.failureThreshold }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
              scheme: {{ if not .Values.developer_portal_configuration.server.listen.tls.enabled }}HTTP{{ else }}HTTPS{{ end }}
            initialDelaySeconds: {{ .Values.developer_portal.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.developer_portal.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.developer_portal.readinessProbe.failureThreshold }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          {{- if .Values.developer_portal.extraEnvVars }}
          {{- include "api7ee3.tplvalues.render" (dict "value" .Values.developer_portal.extraEnvVars "context" $) | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /app/conf
          {{- if .Values.developer_portal.keyCertSecret }}
            - mountPath: /app/certs
              name: ssl
              readOnly: true
          {{- end }}
          {{- if .Values.developer_portal.extraVolumeMounts }}
          {{- include "api7ee3.tplvalues.render" (dict "value" .Values.developer_portal.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with or .Values.developer_portal.topologySpreadConstraints .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- tpl (. | toYaml) $ | nindent 8 }}
      {{- end }}
{{- end }}
