apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "api7ee3.fullname" . }}-dp-manager
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "api7ee3.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.dp_manager.replicaCount }}
  selector:
    matchLabels:
      {{- include "api7ee3.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: dp-manager
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/dp-manager-configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "api7ee3.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: dp-manager
    spec:
      {{- if .Values.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecret }}
      {{- end }}
      serviceAccountName: {{ include "api7ee3.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "api7ee3.fullname" . }}-dp-manager-config
      {{- if .Values.prometheus.server.existingSecret }}
        - name: prometheus_ssl
          secret:
            secretName: {{ .Values.prometheus.server.existingSecret | quote }}
      {{- end }}
      {{- if .Values.dashboard.extraVolumes }}
      {{- include "api7ee3.tplvalues.render" (dict "value" .Values.dashboard.extraVolumes "context" $) | nindent 8 }}
      {{- end }}
      initContainers:
        - name: wait-for-dashboard
          image: "{{ .Values.busybox.image.repository }}:{{ .Values.busybox.image.tag }}"
          {{- if not .Values.dashboard_configuration.server.listen.disable }}
          command: [ 'sh', '-c', "until wget --timeout=3 -q --spider http://{{ include "api7ee3.fullname" . }}-dashboard:{{ .Values.dashboard_service.port }}/healthz;do echo waiting for dashboard `date`; sleep 2; done;" ]
          {{- else }}
          command: [ 'sh', '-c', "until wget --no-check-certificate --timeout=3 -q --spider https://{{ include "api7ee3.fullname" . }}-dashboard:{{ .Values.dashboard_service.tlsPort }}/healthz;do echo waiting for dashboard `date`; sleep 2; done;" ]
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      containers:
        - name: dp-manager
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.dp_manager.image.repository }}:{{ .Values.dp_manager.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.dp_manager.image.pullPolicy }}
          command:
            - /usr/local/api7/api7-ee-dp-manager
            - -c
            - /api7-ee/config.yaml
          ports:
            - name: http
              containerPort: {{ .Values.dp_manager_configuration.server.listen.port }}
              protocol: TCP
            - name: https
              containerPort: {{ .Values.dp_manager_configuration.server.tls.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 1
            periodSeconds: 2
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 1
            periodSeconds: 2
            failureThreshold: 30
          volumeMounts:
            - name: config
              mountPath: /api7-ee
          {{- if .Values.prometheus.server.existingSecret }}
            - mountPath: /app/prometheus/certs
              name: prometheus_ssl
              readOnly: true
          {{- end }}
          {{- if .Values.dashboard.extraVolumeMounts }}
          {{- include "api7ee3.tplvalues.render" (dict "value" .Values.dashboard.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          {{- if .Values.dp_manager.extraEnvVars }}
          {{- include "api7ee3.tplvalues.render" (dict "value" .Values.dp_manager.extraEnvVars "context" $) | nindent 12 }}
          {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
